.chart-container{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 10px 60px;
}

.bar-container{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}