@import "/src/styles/variables.scss";

.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  input {
    color: $color-white;
    font-size: 18px;
    padding: 5px;
  }
  .styled-input {
    display: flex;
    flex: 1;
    font-size: 25px;
    color: $color-white;
    border-bottom: 1px solid $color-white;
    svg {
      margin-top: 5px;
    }
    input {
      width: 100%;
    }
  }
  input:focus,
  input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  .input-date {
    background-color: $color-header;
    padding: 15px;
    border-radius: 5px;
    height: 56px;
    width: 200px;

    
  }::-webkit-calendar-picker-indicator {
    background-color: $color-white;
    border-radius: 3px;
    cursor: pointer;
  }

  .input-select {
    background-color: $color-header;
    color: $color-white;
    padding: 15px;
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    height: 56px;
    width: 200px;
  }

  .form-date-type {
    margin-top: 40px;
  }

  label {
    color: $color-white;
  }

  .other-options-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
}
.bottom-bar{
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  .confirm-button{
    background-color: $color-green;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}